pandas
numpy
scikit-learn==1.9.0
joblib
matplotlib
seaborn
fastapi
uvicorn
pydantic
streamlit
plotly
requests
pytest
lxml
python-multipart
jupyter
ipykernel
SQLAlchemy
psycopg[binary]
PyJWT
python-dotenv